<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1088803323817-ot7qb0kosrr6evjtji90tlc2e4lhh7u3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>abg</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Game Start! usa la fotocamera per scansionare codici durante la partita e, se vuoi, per impostare l'avatar del profilo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Game Start! usa la galleria per scegliere la foto avatar del profilo.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
